body {
    display: grid;
    grid-template-rows: 4.5rem 1fr 3rem;
    grid-template-areas: 
    'nav'
    'main'
    'footer';
}

.main-nav {
    grid-area: nav;
}


/*main styling*/
main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*header styling*/
header {
    width: 100%;
    height: 30rem;
    background-image: url('/assets/image/graffiti.png');
    background-size: cover;
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .brand {
    color: var(--PRIMARY-COLOR);
    -webkit-text-stroke: 1px var(--PRIMARY-COLOR);
}

header .button {
    height: 3rem;
    width: 12rem;
}

header:hover .overlay {
    opacity: 1;
}


/*featured section*/
.featured {
    display: flex;
    gap: 2.25rem;
    justify-content: center;
}


/*card overlay on hover*/
.overlay {
    opacity: 0;
}

.card:hover .overlay {
    opacity: 1;
}


/*footer*/
footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--WHITE);
    height: 3rem;
    background: var(--PRIMARY-COLOR);
}

hr {
    width: 85%;
}